name: split-monorepo

on:
  push:
    branches:
      - main
    tags:
      - '*'

jobs:
  split-monorepo:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        package:
          - forms
          - inertia-view
          - panels
          - tables
          - elements
    steps:
      - uses: actions/checkout@v2
      -
        if: "!startsWith(github.ref, 'refs/tags/')"
        name: Monorepo Branch Split of ${{ matrix.package }}
        uses: symplify/github-action-monorepo-split@2.1
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        with:
          package_directory: 'packages/${{ matrix.package }}'
          repository_organization: 'insightphp'
          repository_name: '${{ matrix.package }}'
          user_name: 'Peter Stovka'
          user_email: 'stovka.peter@gmail.com'
          branch: main
      -
        if: "startsWith(github.ref, 'refs/tags/')"
        name: Monorepo Tag Split of ${{ matrix.package }}
        uses: symplify/github-action-monorepo-split@2.0
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        with:
          tag: ${GITHUB_REF#refs/tags/}
          package_directory: 'packages/${{ matrix.package }}'
          repository_organization: 'insightphp'
          repository_name: '${{ matrix.package }}'
          user_name: 'Peter Stovka'
          user_email: 'stovka.peter@gmail.com'
          branch: main
